---
networks:
  hoprnet:
    name: hoprnet
    driver: bridge
    ipam:
      driver: default
      config: 
        - subnet: 172.30.0.0/16
          ip_range: 172.30.5.0/24
          gateway: 172.30.0.1
services:
  hoprd:
    image: europe-west3-docker.pkg.dev/hoprassociation/docker-images/hoprd:${HOPRD_VERSION}
    restart: unless-stopped
    pull_policy: always
    stop_signal: SIGINT
    platform: linux/amd64
    container_name: hoprd
    hostname: hoprd
    networks:
      - hoprnet
    deploy:
      resources:
        reservations:
          memory: "${HOPRD_RESOURCES_MEMORY_REQUESTS}"
        limits:
          memory: "${HOPRD_RESOURCES_MEMORY_LIMITS}"
    ports:
      - 9091:9091/tcp
      - 9091:9091/udp
      - ${HOPRD_SESSION_PORT_RANGE}:${HOPRD_SESSION_PORT_RANGE}/tcp
      - ${HOPRD_SESSION_PORT_RANGE}:${HOPRD_SESSION_PORT_RANGE}/udp
      - 3001:3001
    env_file:
        - .env-hoprd
    volumes:
      - './config:/app/config:ro'
      - './data:/app/data'
      - '/var/run/docker.sock:/var/run/docker.sock'
    depends_on:
      - fluentbit
    labels:
      - "container=hoprd"
    healthcheck:
      test: ["CMD-SHELL", "curl -fs -H 'X-Auth-Token: $HOPRD_API_TOKEN' http://localhost:3001/healthyz || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 3
      # 15 minutes: Emulates the startupProbe when the node is not synced yet
      start_period: 900s
  nodeexporter:
    image: prom/node-exporter:v1.8.2
    container_name: nodeexporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'
    restart: unless-stopped
    expose:
      - 9100
    ports:
      - 9100:9100
    networks:
      - hoprnet
    labels:
      - "container=nodeexporter"
  metrics:
    image: library/debian:bookworm
    container_name: metrics
    hostname: metrics
    command: /bin/sh -c "
      apt update &&
      apt install -y curl jq lighttpd 2>&1 > /dev/null &&
      cp /config/lighttpd.conf /etc/lighttpd/lighttpd.conf &&
      service lighttpd start &&
      while true; do sleep 10; done" 
    volumes:
      - ./metrics/metrics.sh:/var/www/cgi-bin/metrics.sh
      - ./metrics/lighttpd.conf:/config/lighttpd.conf
      - ./.env-hoprd:/etc/environment
    networks:
      - hoprnet
    depends_on:
      - hoprd
    labels:
      - "container=metrics"
    expose:
      - 8080
    ports:
      - 8080:8080
  fluentbit:
    image: cr.fluentbit.io/fluent/fluent-bit:3.0.2 
    container_name: fluentbit
    hostname: fluentbit
    command: >
      /fluent-bit/bin/fluent-bit
      --workdir=/fluent-bit/etc
      --config=/fluent-bit/etc/fluent-bit.conf
    volumes:
      - "/var/lib/docker/containers:/var/lib/docker/containers:ro"  # Mount Docker logs
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./fluentbit/fluent-bit.conf:/fluent-bit/etc/fluent-bit.conf:ro"
      - "./fluentbit/ssl:/fluent-bit/ssl:ro"
      - "./fluentbit/scripts:/fluent-bit/scripts"
    networks:
      - hoprnet
    ports:
      - "2020:2020"
      - "2021:2021"
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/var/secrets/google/google-fluentbit-sa.json
    restart: always
    user: root
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 24224 || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 5
    labels:
      - "container=fluentbit"
