---
networks:
  hoprnet:
    name: hoprnet
    driver: bridge
services:
  hoprd:
    image: europe-west3-docker.pkg.dev/hoprassociation/docker-images/hoprd:${HOPRD_VERSION}
    restart: unless-stopped
    pull_policy: always
    stop_signal: SIGINT
    platform: linux/amd64
    container_name: hoprd
    hostname: hoprd
    networks:
      - hoprnet
    deploy:
      resources:
        reservations:
          memory: "${HOPRD_RESOURCES_MEMORY_REQUESTS}"
        limits:
          memory: "${HOPRD_RESOURCES_MEMORY_LIMITS}"
    ports:
      - 9091:9091/tcp
      - 9091:9091/udp
      - ${HOPRD_SESSION_PORT_RANGE}:${HOPRD_SESSION_PORT_RANGE}/tcp
      - ${HOPRD_SESSION_PORT_RANGE}:${HOPRD_SESSION_PORT_RANGE}/udp
      - 3001:3001
    env_file:
        - .env-hoprd
    volumes:
      - '/opt/hoprd:/app'
      - '/var/run/docker.sock:/var/run/docker.sock'
    depends_on:
      - fluentbit
    labels:
      - container: hoprd
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.49.2
    container_name: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    privileged: true
    expose:
      - 9093
    ports:
      - 9093:8080
    networks:
      - hoprnet
    devices:
      - /dev/kmsg:/dev/kmsg
  nodeexporter:
    image: prom/node-exporter:v1.8.2
    container_name: nodeexporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'
    restart: unless-stopped
    expose:
      - 9100
    ports:
      - 9100:9100
    networks:
      - hoprnet
  metricspusher:
    image: curlimages/curl:latest
    container_name: metricspusher
    hostname: metricspusher
    command: /bin/sh /app/metricspusher.sh ${HOPRD_PROMETHEUS_PUSHGATEWAY_URL}
    volumes:
      - ./metricspusher.sh:/app/metricspusher.sh
    networks:
      - hoprnet
    env_file:
      - .env-hoprd
    depends_on:
      - hoprd
  fluentbit:
    image: cr.fluentbit.io/fluent/fluent-bit:3.0.2 
    container_name: fluentbit
    hostname: fluentbit
    command: >
      /fluent-bit/bin/fluent-bit
      --workdir=/fluent-bit/etc
      --config=/fluent-bit/etc/fluent-bit.conf
    volumes:
      - "/var/lib/docker/containers:/var/lib/docker/containers:ro"  # Mount Docker logs
      - "/etc/machine-id:/etc/machine-id:ro"  # Mount machine-id
      - "./fluent-bit-gcp-sa.json:/var/secrets/google/google-fluentbit-sa.json:ro"
      - "./custom_parsers.conf:/fluent-bit/etc/conf/custom_parsers.conf:ro"
      - "./fluent-bit.conf:/fluent-bit/etc/fluent-bit.conf:ro"
    networks:
      - hoprnet
    ports:
      - "24224:24224"
      - "24224:24224/udp"
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/var/secrets/google/google-fluentbit-sa.json
    restart: always
    user: root
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 24224 || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 5
